body {
  font-family: "Neucha", cursive;
  width: 1600px;
  height: 850px;
  border: 10px solid rgb(104, 202, 202);
  padding: 60px;
  margin: 80px;
  box-shadow: 0 0 60px rgb(104, 202, 202);
  border-radius: 20px;
}

#tonight {
  margin: 20px 10px 100px 690px;
  padding: 40px 20px 30px;
  box-shadow: 0 0 60px rgb(104, 202, 202);
  width: 350px;
  height: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 30px;
  background: rgb(71, 129, 158);
  font-size: 50px;
}

#Tomorrow {
  box-shadow: 0 0 60px rgb(104, 202, 202);
  width: 150px;
  height: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(104, 202, 202);
  left: 150px;
  bottom: 15%;
  font-size: 50px;
}

#Thur {
  box-shadow: 0 0 60px rgb(104, 202, 202);
  width: 150px;
  height: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(104, 202, 202);
  left: 400px;
  bottom: 15%;
  font-size: 50px;
}

#Fri {
  box-shadow: 0 0 60px rgb(104, 202, 202);
  width: 150px;
  height: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(104, 202, 202);
  left: 600px;
  bottom: 15%;
  font-size: 50px;
}
#Sat {
  box-shadow: 0 0 60px rgb(104, 202, 202);
  width: 150px;
  height: 250px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: rgb(104, 202, 202);
  right: 200px;
  bottom: 15%;
  font-size: 50px;
}
